<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssessmentHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssessmentHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <AssessmentHelper.Properties.Settings>
            <setting name="MainForm_PosX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainForm_PosY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainForm_SizeHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainForm_SizeWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FormAddResult_PosX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FormAddResult_PosY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FormAddResult_SizeWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FormAddResult_SizeHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FormGiveAnswer_PosX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FormGiveAnswer_PosY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FormGiveAnswer_SizeWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FormGiveAnswer_SizeHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FormAddQuestion_PosX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FormAddQuestion_PosY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FormAddQuestion_SizeWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FormAddQuestion_SizeHeight" serializeAs="String">
                <value>-1</value>
            </setting>
        </AssessmentHelper.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AssessmentHelper.Properties.Settings>
            <setting name="SharedPath" serializeAs="String">
                <value>\\master1\share\andi\test</value>
            </setting>
        </AssessmentHelper.Properties.Settings>
    </applicationSettings>
</configuration>